.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  width: 50%;

  & div + div {
    margin-left: 15px;
  }

  & div input {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
    height: 50px;
    margin-top: 10px;
  }

  &__submit {
    input {
      background-color: #fff;
    }

    input:hover {
      cursor: pointer;
    }
  }
}